<div class="col-md-10">

</div>
<div class="col-md-2">
  <p> Welcome, <%= current_user.username %>
</div>


<div class="col-md-2">
</div>
<div class="col-md-8">
  <table class="table table-bordered">
    <thead class="black white-text">
      <tr>
        <th scope="col">Lender</th>
        <th scope="col">Loan Amount</th>
        <th scope="col">Annual Interest Rate</th>
        <th scope="col">Term of Loan</th>
        <th scope="col">Monthly Payment</th>
        <th scope="col">Total Paid at End</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
<% @loans.each do |loan| %>
    <tbody>
      <tr>
        <td><%= loan.lender %></td>
        <td><%= loan.loan_face_value %></td>
        <td><%= loan.annual_rate %></td>
        <td><%= loan.loan_term %></td>
        <td><%= loan.monthly_payment %></td>
        <td><%= loan.total_amount %></td>
        <td><a href="/loans/<%=loan.id%>/edit">edit</a></td>
        <td><form method="post" action="/loans/<%=loan.id%>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Loan">
        </form>
</td>
      </tr>
    </tbody>
<% end %>
  </table>
  </div>


  <div class="col-md-2">
  </div>
